<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>规则接口列表</title>
    <link rel="stylesheet" type="text/css" href="/lib/extjs/resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="/style/style.css" />
    <script type="text/javascript" src="/lib/extjs/bootstrap.js"></script>
    <script type="text/javascript" src="/lib/extjs/ext-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/lib/utils/utils.js"></script>
    <script type="text/javascript" src="/risk/interface/js/interface.js"></script>
</head>
<body style="width:100%;height:100%"></body>
</html>