<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" default-autowire="byName">
    <!-- <bean id="userInterceptor" class="com.jd.payment.app.ccmis.interceptor.UserInterceptor">
        <property name="domain" value="${cookie.domain}"></property>
    </bean> -->

</beans>